<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="icon/favicon.ico" type="image/x-icon" />
    <title>@ViewBag.Title</title>
    <link href="~/css/main.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h3>@ViewBag.Title</h3>
        <menu>
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Home" asp-action="FanMail">Fan Mail</a></li>
            </ul>
        </menu>
    </header>

    @RenderBody()

    <footer>I love this grade</footer>
    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/js/FanMail.js"></script>
</body>
</html>