@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Scott Young";
}

<body>
    <img src="~/img/scott.jpg" class="scottimg" />
    <br />
    <h3>What I Hope to Get Out of 413:</h3>
    <p>
        I expect to learn a new way of building websites in IS 413. I know JavaScript, I know Python, I know C++, but this is something new and cool.
        I want to be able to take this skill and immediately be able to apply it in the workforce. I am very excited for this class!
    </p>
    <br />
    <h3>My Three Jobs I Would Pursue</h3>
    <ol>
        <li>Asset Manager</li>
        <li>Venture Capitalist</li>
        <li>Private Equity</li>
    </ol>
    <br />
</body>